.gCardContainer {
    height: 400px;
    width: 1709px;
    margin: auto;
    margin-block-start: 30px;
    position: relative;
    right: 94px;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    background-color: rgb(17, 17, 17);
    border: 1px solid rgb(17, 17, 19);
}

#gameSearch {
    color: black;
}

Input {
    color: black;
}