.matchCard {
    height: 480px;
    width: 300px;
    margin: 20px;
    padding-block-start: 40px;
    border: 0px;
    border-radius: 10px;
    box-shadow: black 3px 4px;
    text-align: center;
    object-position: center;
    background-color: #232136;
    font-family: 'MuseoModerno', cursive;
}

.typeIcon, .consoleIcon {
    display: block;
    width: 34px;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.typeIcon {
    top: 10px;
    right: 6px;
}

.consoleIcon {
    top: 15px;
    right: 6px;
}

.matchImg {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    box-shadow: black 2px 3px;
    align-self: center;
    position: relative;
    bottom: 89px;
    left: 12px;
}

.cardGTag {
    margin: 5px;
    font-family: 'Audiowide', cursive;
    font-size: 25px;
    color: rgba(255, 99, 71);
}

.cardGTag, .cardFGame, .cardBio {
    text-shadow: black 2px 3px;
    position: relative;
    bottom: 89px;
    left: 12px;
    max-width: 250px;
    margin: 8px;
    object-fit: contain;
}

.cardFGame {
    font-size: 20px;
}

.cardBut {
    position: relative;
    bottom: 85px;
    left: 57px;
    border-radius: 4px;
    font-family: 'MuseoModerno', cursive;
    font-size: 20px;
    height: 32px;
    transition: background-color 0.4s, color 0.4s;
    color: rgb(168, 167, 167);
    background-color: rgb(0, 12, 12);
}

.cardBut:hover {
    background-color: teal;
}

[id='Nintendo Switch'] {
    content:url('../../assets/icons/switch.png');
}

[id='Xbox One'] {
    content:url('../../assets/icons/xbox.png');
}

[id='Playstation 4'] {
    content:url('../../assets/icons/playstation.png');
}

[id='PC'] {
    content:url('../../assets/icons/pc.png');
}

[id='Competitive'] {
    content:url('../../assets/icons/competitive.png');
}

[id='Casual'] {
    content:url('../../assets/icons/casual.png');
}

[id='Speedrunner'] {
    content:url('../../assets/icons/speedrun.png');
}