.wholeCard {
    display: inline-flex;
    width: 8.8899vw;
    height: 37vh;
    margin: auto;
    text-align: center;
    position: relative;
    top: 18px;
}
.cardImg {
    height: 400px;
    position: relative;
    bottom: 130px;
}

.cardBody {
    position: relative;
    bottom: 266px;
}

.favGameBut {
    transition: background-color 0.6s;
}

.favGameBut:hover {
    background-color: rgb(189, 117, 183);
}
