.purpleBut {
    background-color: #c1a8e7 !important;
    color: black !important;
    font-family: 'MuseoModerno', cursive;
}

.main {
    font-family: 'Odibee Sans', cursive;
    color: #c1a8e7;
    font-size: 88px;
}

.lead {
    font-family: 'MuseoModerno', cursive;
    color: #ffb6e6;
}