* {
    box-sizing: border-box;
  }
  
  h2{
    font-family: 'Bree Serif', serif;
  }
  
.md-card-image {
    border-radius: 20%; 
    background-image: url("person.png"); background-size: cover;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    font-family: 'Bungee', cursive;
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }