<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Matches.css">
</head>
<body>
    
        <h2>Your Matches</h2>
        
        <div class="row">
          <div class="column" >
            <div class="row">
                <h1>Username</h1>
            <div class='row' layout="row" layout-wrap>
                <div class="column">
                  <md-card style="width: 300px;" ng-repeat="user in users">
                    <img src="http://placehold.it/150x150" class="md-card-image" alt="user avatar">
                    <md-card-content>
                      <h2>Favorite Game:</h2>
                      <h2>Your Mom</h2>
                    </md-card-content>
                  </md-card>
             </div>
              </div>
               </div>
          </div>

          <!-- <div class="column" >
            <div class="row">
                <h1>Username</h1>
            <div class='row' layout="row" layout-wrap>
                <div class="column">
                  <md-card style="width: 300px;" ng-repeat="user in users">
                    <img src="http://placehold.it/150x150" class="md-card-image" alt="user avatar">
                    <md-card-content>
                      <h2>Favorite Game:</h2>
                      <h2>Your Mom</h2>
                    </md-card-content>
                  </md-card>
             </div>
              </div>
               </div>
          </div>  -->
         
</body>
</html>